
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
@*<form action="Update" method="post">
    <input type="hidden" name="Id" value="@Model.id" />
    <input type="text" name="Name" value="@Model.name" placeholder="user name" />
    <input type="text" name="Price" value="@Model.price" placeholder="price" />
    <input type="submit" value="submit" />
</form>*@
<p>Edit controller is under construction</p>
